*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Beefball/Beefball/bin/
Beefball/bin/
Beefball/Beefball/obj/
Beefball/obj/
Beefball/Content/obj/
!Beefball/x64
!Beefball/x86
!Beefball/Libraries
